* {
    margin: 0px;
    padding: 0px;
}
section, article, aside, hgroup, header, footer, nav, figure {
    display: block;
}
li img {
    display: block;
}
a img {
    border: none;
}
img {
    max-width: 100%;
    height: auto;
}
li {
    list-style-type: none;
}
#hamburgar {
    display: none;
}
.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}
.animation {
    position: absolute;
    width: 300px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: lodanimetion 1500ms ease-out forwards infinite;
}
@keyframes lodanimetion {
 from, to {
 opacity: 0.3;
}
 50% {
 opacity:1;
}
}
.animation img {
    float: left;
    filter: invert(100%);
}
.animation p {
    float: right;
    color: #bdbdbd;
    margin-top: 20px;
    font-size: 30px;
}
header {
    width: 100%;
    height: 200px;
}
#titleBox {
    width: 100%;
    height: 150px;
}
#mainTitle {
    width: 100%;
    max-width: 420px;
    height: 85px;
    margin-left: 120px;
    margin-top: 50px;
}
#companyLogo {
    float: left;
    margin-top: 5px;
    margin-right: 15px;
}
#companyLogo img {
    transform: rotate(360deg);
    animation: rotate_anime 20s;
}
@keyframes rotate_anime {
 0% {
 transform:rotate(0deg);/* アニメーションの進みが0%の時の状態 */
}
 100% {
 transform:rotate(360deg);/* アニメーションの進みが100%の時の状態 */
}
}
#title2 {
    margin-bottom: 5px;
}
#title1 p {
    font-size: 28px;
    color: #292929;
    font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", "sans-serif";
}
#title2 p {
    font-size: 28px;
    color: #292929;
    font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", "sans-serif";
}
#menu {
    width: 100%;
    max-width: 450px;
    height: 40px;
    float: right;
    margin-right: 60px;
}
#menu p {
    float: left;
    font-size: 23px;
    margin-right: 40px;
    color: #333;
    font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", "sans-serif";
}
#contents {
    width: 100%;
    height: 4900px;
    margin-right: auto;
    margin-left: auto;
}
.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
#logo {
    width: 100%;
    height: 470px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
}
#profileBefore {
    width: 100%;
    height: 100px;
}
#profile {
    width: 100%;
    height: 380px;
    margin-right: auto;
    margin-left: auto;
}
#profileTitle {
    width: 85px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#profileTitle p {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
#profileInfo {
    width: 100%;
    max-width: 1000px;
    height: 300px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 2px #171b1f;
    border-bottom: solid 2px #171b1f;
}
#profileData {
    width: 100%;
    max-width: 500px;
    height: 100px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
#profileData p {
    color: #292929;
}
.info {
    margin-top: 15px;
    text-align: center;
}
.sentence1 {
    margin-top: 15px;
    text-align: center;
}
.sentence2 {
    margin-top: 28px;
}
#frame1 {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-attachment: fixed;
    background-image: url("portfolioPhoto/favorite1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#frame1::before {
    background: inherit;
    content: '';
    filter: blur(1px);
    filter: grayscale(50%);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}
#favoriteBefore {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
#favorite {
    width: 100%;
    height: 740px;
    margin-right: auto;
    margin-left: auto;
}
#favoriteTitle {
    width: 100px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#favoriteTitle p {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
#favoriteInfo {
    width: 100%;
    max-width: 1000px;
    height: 650px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 2px #171b1f;
    border-bottom: solid 2px #171b1f;
}
#favoriteData {
    width: 100%;
    max-width: 565px;
    height: 210px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
#favoriteData p {
    color: #292929;
}
#favoritePhoto {
    width: 100%;
    max-width: 850px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
}
#kolkata {
    float: left;
    text-align: center;
}
#kolkata img {
    width: 100%;
}
#kolkata img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
}
#kolkata p {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
#tokaido {
    float: right;
    text-align: center;
}
#tokaido img {
    width: 100%;
}
#tokaido img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
}
#tokaido p {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
#frame2 {
    width: 100%;
    height: 400px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    background-attachment: fixed;
    background-image: url("portfolioPhoto/skill1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#frame2::before {
    background: inherit;
    content: '';
    filter: blur(1px);
    filter: grayscale(50%);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}
#skillBefore {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
#skill {
    width: 100%;
    height: 670px;
    margin-right: auto;
    margin-left: auto;
}
#skillTitle {
    width: 65px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#skillTitle p {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
#skillInfo {
    width: 100%;
    max-width: 1000px;
    height: 580px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 2px #171b1f;
    border-bottom: solid 2px #171b1f;
}
#skillData {
    margin-top: 50px;
    width: 100%;
    max-width: 630px;
    height: 580px;
    margin-right: auto;
    margin-left: auto;
}
#skilData p {
    color: #292929;
}
.boldTitle1 {
    font-weight: bold;
    display: inline;
}
.boldTitle2 {
    font-weight: bold;
    font-size: 16px;
    display: inline;
}
#frame3 {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background-attachment: fixed;
    background-image: url("portfolioPhoto/works1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#frame3::before {
    background: inherit;
    content: '';
    filter: blur(1px);
    filter: grayscale(50%);
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}
#worksBefore {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
#works {
    width: 100%;
    height: 780px;
    margin-right: auto;
    margin-left: auto;
}
#worksTitle {
    width: 80px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#worksTitle p {
    font-size: 25px;
    color: #333;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}
#worksInfo {
    width: 100%;
    max-width: 1000px;
    height: 750px;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 2px #171b1f;
    border-bottom: solid 2px #171b1f;
}
#worksSentence {
    width: 100%;
    max-width: 750px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
}
#worksSentenceTitle {
    width: 100%;
    max-width: 675px;
    margin-right: auto;
    margin-left: auto;
}
#workSentence1 {
    width: 100%;
    max-width: 750px;
    height: 140px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
#workSentence2 {
    width: 100%;
    max-width: 750px;
    height: 140px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
#worksData {
    width: 100%;
    max-width: 850px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}
#worksData p {
    color: #292929;
}
#productscreen {
    width: 100%;
    max-width: 400px;
    height: 240px;
    margin-top: 70px;
    float: left;
}
#productscreen p {
    width: 100%;
    max-width: 200px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
#adminscreen {
    width: 100%;
    max-width: 400px;
    height: 240px;
    margin-top: 70px;
    float: right;
}
#adminscreen p {
    width: 100%;
    max-width: 240px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
footer {
    background-color: #f7f7f7;
    height: 120px;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-top: 60px;
    clear: both;
}
#footerInner {
    width: 100%;
    max-width: 720px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
#footerInner p {
    float: left;
    color: #292929;
    margin-top: 25px;
    margin-right: 30px;
    font: bold;
}
#contact {
    font-weight: bold;
}
#topBack {
    float: right;
    clear: both;
    font-weight: bold;
    margin-right: 80px;
    font-size: 25px;
}
#topBack p {
    color: #292929;
}
a {
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
p {
    font-size: 18px;
    color: #292929;
    font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", "sans-serif";
}
