* {
    margin: 0px;
    padding: 0px;
}
section, article, aside, hgroup, header, footer, nav, figure {
    display: block;
}
li img {
    display: block;
}
a img {
    border: none;
}
li {
    list-style-type: none;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
#headerInner {
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    clear: both;
}
#mainPhoto {
    float: left;
    margin-top: 25px;
    margin-bottom: 10px;
}
#mainPhoto:hover {
    opacity: 0.7;
}
#mainMotto {
    float: left;
    margin-top: 84px;
    margin-left: 36px;
}
#gnav {
    clear: both;
    width: 1020px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
#gNavi {
    width: 1020px;
    height: 52px;
    overflow: visible;
    background: #9756e4;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
#gNavi li {
    list-style: none;
    width: 166px;
    height: 50px;
    float: left;
    border-top: solid 2px #7c2add;
    border-bottom: solid 2px #7c2add;
    border-right: solid 2px #7c2add;
    border-left: solid 2px #7c2add;
}
#gNavi li a {
    display: block;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}
#gNavi li:hover {
    background: #d0cdc4;
}
#contents {
    width: 750px;
    background-color: #fffaf0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: auto;
    min-height: 300px;
}
#textZone {
    width: 350px;
    position: relative;
    height: auto;
    min-height: 280px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    color: #434343;
}
#mainTitle {
    width: 744px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffaf0;
    text-align: center;
    text-decoration: none;
    border-top: solid 3px #fffaf0;
    border-bottom: solid 3px #9756e4;
    border-right: solid 3px #fffaf0;
    border-left: solid 3px #fffaf0;
    font-size: 22px;
    font-weight: bold;
}
#mainTitle p {
    width: 400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    color: #434343;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
    position: relative;
}
#buttonZone {
    width: 330px;
    height: 40px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#button1 {
    height: 40px;
    width: 150px;
    color: white;
    background-color: #8d6449;
    text-decoration: none;
    border-top: solid 3px #6b4b38;
    border-bottom: solid 3px #6b4b38;
    border-right: solid 3px #6b4b38;
    border-left: solid 3px #6b4b38;
    font-size: 18px;
    float: left;
    margin-right: 25px;
}
#button1:hover {
    background: #E8E4DA;
}
#button2 {
    height: 40px;
    width: 150px;
    background-color: #efa844;
    display: inline-block;
    text-decoration: none;
    border-top: solid 3px #dd9f49;
    border-bottom: solid 3px #dd9f49;
    border-right: solid 3px #dd9f49;
    border-left: solid 3px #dd9f49;
    font-size: 18px;
}
#button2:hover {
    background: #ff8c00;
}
footer {
    background-color: #9756e4;
    height: 120px;
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
a {
    text-decoration: none;
}
body {
    background-color: #fffaf0;
    height: 100%;
    margin: 0;
    padding: 0;
}
